* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #e1ebea;
  font-family: "Fira Sans", sans-serif;
}

img {
  max-width: 100%;
}

main {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

header {
  color: black;
  background: #0d1238;
  border: 0.2rem inset #01062b;
  top: 0px;
  position: sticky;
  z-index: 1;
  background: linear-gradient(to bottom, #0d1238, #232745);
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
  list-style: none;
}

li a.link {
  color: white;
  text-decoration: none;
  padding: 0.2rem;
  font-size: 1.8rem;
  transition: all 1s;
  position: relative;
}

li a.link:hover {
  background: orange;
  color: black;
  background: linear-gradient(to bottom, #ff7a00, #ffbc7d);
  border-radius: 0.2rem;
  opacity: 0.9;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 2.5rem;
  position: absolute;
  padding: 0.2rem;
  padding-left: 0px;
  padding-top: 0px;
  top: 0%;
  color: #ff7a00;
  font-style: oblique;
}

h1 div {
  font-size: medium;
}

#marca {
  display: flex;
  flex: 2 1 40rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  padding-left: 0.2rem;
  margin: auto 1rem;
  transition: 1s;
  transform: scale(1, 1);
}

h1#marca span.nivel {
  font-size: 1rem;
  text-align: left;
}

div.logo {
  text-align: center;
  transition: 1s;
  transform: rotateZ(-360deg);
}

footer {
  text-align: center;
  background: #232745;
  color: white;
  border: 0.4rem outset #192054;
  margin: 1rem 0px 0px 0px;
  background: linear-gradient(to top, #0d1238, #232745);
}

footer ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem auto;
}

h4 {
  font-size: medium;
}

h2 {
  background: #232745;
  border: 0.2rem solid #232745;
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: 0.5rem;
  animation-duration: 0.5s;
  animation-name: titulo;
  animation-iteration-count: 1;
}
@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  font-size: medium;
  color: white;
  font-style: italic;
  line-height: 1.7rem;
  width: 99%;
  text-align: justify;
  padding: 1rem;
  margin: 1rem;
}

section.inicio {
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  height: 71.7vh;
  background-image: url(../img/mancuernas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inicio div h3 {
  color: #ff9736;
  padding: 3rem;
}

p.parrafo {
  color: black;
  text-align: center;
  padding: 0px;
  margin: 1rem;
  font-size: 1.8rem;
}

.parrafo1 {
  color: black;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.form {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem 0px 0px 0px;
}

.contacto {
  border-radius: 0.6rem;
  border: inset 0.4rem black;
}

h3 {
  font-size: xx-large;
  color: white;
}

.listado {
  display: flex;
  margin: 2rem auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.listado li a {
  color: black;
  text-decoration: none;
}

.listado li a div {
  padding: 0.5rem;
  text-align: center;
  background: orange;
  color: white;
  border-bottom: 0.1rem inset black;
  border-right: 0.1rem inset black;
  border-left: 0.1rem outset black;
  border-radius: 0.5rem;
}

.listado li a div:hover {
  background: #232745;
  transition: 0.5s;
}

.programas ul {
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 120px;
}

.programas h3 {
  color: #01062b;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  background: linear-gradient(to right, #ff7a00, #ff9736);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.programas h4 {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.programas ul li a {
  text-decoration: none;
  color: white;
}

.programas ul li a div {
  padding: 0.5rem;
  text-align: center;
  background: orange;
  color: white;
  border-bottom: 0.1rem inset black;
  border-right: 0.1rem inset black;
  border-left: 0.1rem outset black;
  border-radius: 0.5rem;
}

.programas ul li a div:hover {
  background: #232745;
  transition: 0.5s;
}

.nosotros {
  color: black;
  width: 99%;
  padding: 0.7rem 15rem;
  margin: 0.7rem;
  text-align: justify;
}

label {
  font-size: small;
  margin: 0.5px 0.5rem 0px 0px;
}

.newsletter {
  font-size: small;
  margin: 1rem 0px 0px 0px;
}

input {
  margin: 1rem;
  padding: 0.3rem;
}

select {
  margin: 1rem 0px 0px 0px;
}

.footerinicio {
  margin: 0px;
}

p.intro {
  text-align: center;
  line-height: 2.2rem;
}

.inicio div .intro b {
  font-size: 2.5rem;
}

fieldset {
  padding: 0px 1.5rem 0px 1.5rem;
}

h4.experiencias {
  background: #ff7a00;
  color: white;
  text-align: center;
  font-size: 1.9rem;
  background: linear-gradient(to right, #ff7a00, #ff9736);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
