* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e1ebea;
  font-family: "Fira Sans", sans-serif;
}

header {
  color: black;
  background: #0d1238;
  border: 0.2rem inset #01062b;
  top: 0px;
  position: sticky;
  z-index: 3;
}

nav {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
  list-style: none;
}

li a.link {
  background: #192054;
  color: white;
  text-decoration: none;
  padding: 0.2rem;
  font-size: 1.8rem;
  border-radius: 0.3rem;
  border-top: 0.1rem inset black;
  border-left: 0.2rem inset black;
  border-right: 0.1rem outset black;
  box-shadow: 0.2rem 0.1rem black;
}

li a.link:hover {
  background: black;
  color: orange;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 2.5rem;
  position: absolute;
  padding: 0.2rem;
  padding-left: 0px;
  padding-top: 0px;
  top: 0%;
  color: #ff7a00;
  font-style: oblique;
}

h1 div {
  font-size: medium;
}

#marca {
  display: flex;
  flex: 2 1 40rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  padding-left: 0.2rem;
}

h1#marca span.nivel {
  font-size: 1rem;
  text-align: left;
}

div.logo {
  text-align: center;
}

footer {
  text-align: center;
  background: #232745;
  color: white;
  border: 0.4rem outset #192054;
}

footer ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem auto;
}

h4 {
  font-size: medium;
}

h2 {
  background: #232745;
  border: 0.4rem inset #192054;
  font-size: 2rem;
  text-align: center;
  color: white;
}

p {
  font-size: medium;
  color: white;
  font-style: italic;
  line-height: 1.7rem;
  width: 95%;
  text-align: justify;
  padding: 1rem;
}

section.inicio {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 71.7vh;
  background-image: url(mancuernas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inicio div h3 {
  color: #01062b;
}

p.parrafo {
  color: black;
  text-align: center;
  padding: 0px;
}

.parrafo1 {
  color: black;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contacto {
  border-radius: 0.6rem;
  border: inset 0.4rem black;
}

h3 {
  font-size: xx-large;
  color: white;
}

.listado {
  display: flex;
  margin: 2rem auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.listado li a {
  color: black;
  text-decoration: none;
}

.listado li a div {
  padding: 0.5rem;
  text-align: center;
  background: orange;
  color: white;
  border-bottom: 0.1rem inset black;
  border-right: 0.1rem inset black;
  border-left: 0.1rem outset black;
  border-radius: 0.5rem;
}

.listado li a div:hover {
  background: #232745;
}

.titulo {
  background: #ff7a00;
  border: 0.1rem solid #ffbc7d;
  box-shadow: 0.2rem 0.1rem #ffbc7d;
  text-align: center;
  color: white;
}

.programas ul {
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 120px;
}

.programas h3 {
  color: #01062b;
  text-align: center;
}

.programas h4 {
  text-align: center;
}

.programas ul li a {
  text-decoration: none;
  color: white;
}

.programas ul li a div {
  padding: 0.5rem;
  text-align: center;
  background: orange;
  color: white;
  border-bottom: 0.1rem inset black;
  border-right: 0.1rem inset black;
  border-left: 0.1rem outset black;
  border-radius: 0.5rem;
}

.programas ul li a div:hover {
  background: #232745;
}
