@import "../vars/variables";

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  .contenedor {
    .fila {
      .columna {
        .formulario {
          .div1 {
            label {
              background-color: $claro;
              color: black;
              border-radius: 0.3rem;
              width: 40%;
              @media screen and(min-width:800px) {
                width: 150px;
              }
              @media screen and(min-width: 1050px) {
                width: 250px;
              }
            }
            input {
              @media screen and(min-width:800px) {
                width: 300px;
              }
              @media screen and(min-width:1050px) {
                width: 450px;
              }
              width: 60%;
            }
          }
          .boton {
            color: black;
            background-color: $claro;
            border-color: $fuerte;
          }
          .boton:hover {
            transition: 0.3s;
            color: white;
            background-color: $oscuro;
            border-color: $claro;
          }
        }
      }
    }
  }
}