@import "../vars/variables";

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    .container {
        .row {
            .col {
                form {
                    .mb-3 {
                        label {
                            background-color: $claro;
                            color: black;
                            border-radius: 0.3rem;
                            width: 100px;
                        }
                        input {
                            width: 200px;
                        }
                    }
                    .btn {
                        color: black;
                        background-color: $claro;
                        border-color: $fuerte;
                    }
                    .btn:hover {
                        transition: 0.3s;
                        color: white;
                        background-color: $oscuro;
                        border-color: $claro;
                    }
                }
            }
        }
    }
}

footer {
   margin-top: auto;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}