@import "../vars/variables";

main {
    .container {
        .row {
            .col {
                form {
                    .mb-3 {
                        label {
                            background-color: $claro;
                            color: black;
                            border-radius: 0.3rem;
                            width: 100px;
                        }
                        input {
                            width: 200px;
                        }
                    }
                    .btn {
                        color: black;
                        background-color: $claro;
                        border-color: $fuerte;
                    }
                    .btn:hover {
                        transition: 0.3s;
                        color: white;
                        background-color: $intermedio;
                        border-color: $claro;
                    }
                }
            }
        }
    }
}