@import "../vars/variables";

body {
    background-color: $oscuro;
}

@mixin hover($color, $transition) {
    color: $color;
    transition: $transition;
}

header {
    nav {
      border-radius: 0 0 5px 5px;
      background: linear-gradient(to bottom, $oscuro, $claro);
      border-bottom: $claro 0.1rem solid;
      .container-fluid {
        .navbar-brand:hover {
          @include hover($claro, 0.5s )
        }
      }
  
      .formulario {
        .btn {
          color: white;
          border-color:$oscuro ;
        }
        .btn:hover {
          background-color: $oscuro;
          @include hover($fuerte, 0.5s )
        }
      }
      .collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: white;
            }
            .nav-link:hover {
              @include hover($fuerte, 0.5s )
            }
          }
        }
      }
    }
}

main {
  .container {
    .container__titulo {
      display: inline-block;
      border-bottom: $claro 0.1rem inset;
    }
    .container__titulo:hover {
      border-bottom:white 0.1rem inset;
      @include hover($claro, 0.5s )
    }
  }
}

footer {
  background-color: $claro;
  background: linear-gradient(to top, $oscuro, $claro);
  .container {
    h4 {
      color: white;
      border-top: $claro 0.1rem outset;
      border-bottom: $claro 0.1rem inset;
      padding-bottom: 0.5rem;
      @media screen and (max-width: 380px) {
        font-size: medium;
      }
    }
    h4:hover {
      color: black;
      border-bottom: $fuerte 0.1rem inset;
      transition: 0.5s;
    }
  }
  .row {
    padding-top: 0.5rem;
    ul {
      li{
        .nav-link {
          color: $claro;
          padding: 0;
          margin-top: 0;
          border-radius: 0.2rem;
          @media screen and (max-width: 768px) {
            font-size: medium;
          }
          @media screen and (max-width: 576px){
            font-size: small;
          }
          @media screen and (max-width: 460px) {
            font-size: x-small;
          }
          .bi {
            svg {
              @media screen and (max-width: 576px){
                width: 15px;
                height: 15px;
              }
              @media screen and (max-width: 460px) {
                width: 8px;
                height: 8px;
              }
            }
          }
        }
        .nav-link:hover {
          color: $fuerte;
          transition: 0.5s;
        }
      }
    }
  }
}